<button type="button" id="autoLaunchButton" data-bs-toggle="modal" data-bs-target="#myModal" style="display:none;">Launch Modal Automatically</button>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="width: 100%; padding: 0.33rem;">
                <button type="button" style=" float: right" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Chargement...
            </div>
        </div>
    </div>
</div>